---
---
<!DOCTYPE html>
{% include header.html %}
{% include nav.html %}
<head>
</head>
<div class="wrapper sr-2">
<body>
    
    <h1> Item Page for {{ page.title }} </h1>

{{ content }}


<h1>Self-Made Manifests and Viewer Links</h2> 
{% assign manifests = site.static_files | where_exp: "manifest", "manifest.path contains '/manifests/'"  |where_exp: "manifest", "manifest.extname == '.json'" | where_exp: "manifest", "manifest.path != '/manifests/collection.json' " %}
{% for file in manifests %}
  <ul>
    <li>
      <a href="{{ file.path | relative_url }}" target="_blank">{{ file.path | replace: "/manifests/", "" }}</a>
    </li>
    <li>
      <a href="https://projectmirador.org/embed/?iiif-content={{ file.path | relative_url }}" target="_blank">View in Mirador</a>
    </li>
    <li>
      <a href="http://universalviewer.io/examples/#?c=&m=&s=&cv=&manifest={{ file.path | relative_url }}" target="_blank">View in UV</a>
    </li>
  </ul>
{% endfor %}

</body>
</div>

{% include footer.html %}